*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
**/build
*.swp
config.json
.app.local.properties
**/.project
**/.classpath
**/.settings/

# Signing secrets
*.jks
*.keystore
