<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.oist.abcvlib.core.test">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- This tag is required for Android 10 to allow writing to Downloads -->
    <application android:requestLegacyExternalStorage="true" />

</manifest>